.descripcion{

    text-align: justify;
    width: 60%;

}


/* Clases del proyecto*/
.banner img{
    
    width: 100%;
    height: 30%;
    
}

.centrar_texto{
    text-align: center;
}

.tamano_img{
    width: 20%;
    max-width: 800px;
}

.tamanoimg{
    height: 500px !important;
}


.alinear_menu{

     margin-left: 150px;



}

.fdo_nav{

background-image: url(/img/gato2.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 500px;




}

.type-auto {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
    
    @keyframes typing {
    
    from { width: 0}
    }
    
    @keyframes blink {
     50% { border-color: transparent}
    }








.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
  
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}
.done {
    background-color: var(--prm-color);
    color: #fff;
}
.step-item {
    z-index: 10;
    text-align: center;
    
}
#progress {
  -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
    
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);

}
    


.color_buttom{

    background-color: rgb(180, 180, 180);
}


.banner_gato{
background-image: url("/img/gato_banner.jpg");
height: 500px;
width: 100%;
background-size: cover;
background-position: center center;
background-repeat: no-repeat; 
margin-left: 0px !important;
margin-right: 0px !important;
}


.banner_pet{
margin-top: 70px;
margin-bottom: 70px;
margin-left: 150px;
width: 400px;
height: 400px;

}

.banner_pet2{
   padding-top: 70px;
   
}

.banner_fondo{

    width: 100%;
    height: 500px;
}


footer{
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #F6A229;
}

.entregamos{
    color: #fff;
    padding-top: 150px;
  

}

.entregamos h1{

  font-family: 'Lapsus Pro Bold';
  font-size: 70px;

}


.banner_adopta{
  background-image: url("/img/fondo_huellas.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  padding-top: 70px;
  color: #fff;
  margin-left: 0px !important;
  margin-right: 0px !important;
  
}

@media (max-width: 768px) {
  

  .banner_adopta{
    
    height: 900px;
        
  }

  .banner_adopta p{
   
    padding-left: 70px !important;
    
    }
    
    .banner_adopta li{
      
      padding-left: 100px !important;
      
      }

      .hero p{
       
        font-size: 48x;
       
      }

      .hero_bloque{
        
        padding-left: 25px !important;
  
      }




}

@font-face {
  font-family:'Forte' ;
  src: url('/font/forte/FORTE.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:'Bebas' ;
  src: url('/font/Bebas-Neue-master/BebasNeue-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:'Lapsus Pro Bold' ;
  src: url('/font/lapsus-pro/LapsusPro-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}




.banner_adopta p{
font-family: 'Forte';
font-size: 70px;
padding-left: 150px;

}

.banner_adopta li{
  font-family: 'Bebas';
  font-size: 40px;
  padding-left: 150px;
  
  }


/* css menú*/

body {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fff;
    height: 200vh;
    position: relative; }
    body:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden;
      z-index: 1; }
    body.offcanvas-menu:before {
      opacity: 1;
      z-index: 1002;
      visibility: visible; }
  
 

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .hero {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  
    .hero p{
      color: #614083;
      font-family:'Lapsus Pro Bold' ;
      font-size: 60px;
     
    }

  

    .hero_bloque{
      padding-top: 200px;
      padding-left: 150px;

    }
  /* Header */
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 0px 0; }
    @media (min-width: 768px) {
      header {
        padding: 30px 0; } }
    header .navbar-brand {
      text-transform: uppercase;
      letter-spacing: .2em;
      font-weight: 800;
      font-size: 2rem; }
      header .navbar-brand.absolute {
        position: absolute; }
        @media (max-width: 991.98px) {
          header .navbar-brand.absolute {
            position: relative; } 
        }
      header .navbar-brand span {
        color: #fff; }
        @media (min-width: 768px) {
          header .navbar-brand span {
            color: #ced4da; } 
        }
    header .navbar {
      background: #614083 !important;
      padding-top: .5rem;
      padding-bottom: .5rem; }
      @media (min-width: 768px) {
        header .navbar {
          padding-top: 0;
          padding-bottom: 0;
          background: none !important;
          position: relative; }
      
        
        }
        
        
        @media only screen and (max-width : 900px) {
            header .navbar .nav-link {
                
                color: #fff !important;
            } 
            header .navbar .nav-link.active {
              color: #ffffff !important; 
              font-weight: bold;
              
            }
            }


      header .navbar .nav-link {
        padding: 1.7rem 1rem;
        outline: none !important;
        font-size: 1.2rem;
        color: #614083 !important; }
        @media (max-width: 1199.98px) {
          header .navbar .nav-link {
            padding: .5rem 0rem; 
            color: #fff !important;
        } }
        header .navbar .nav-link.active {
          color: #614083 ; 
          font-weight: bold;
          
        }
      header .navbar .dropdown-menu {
        font-size: 14px;
        border-radius: 4px;
        border: none;
        -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
        min-width: 13em;
        margin-top: -10px; }
        header .navbar .dropdown-menu:before {
          bottom: 100%;
          left: 10%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #fff;
          border-width: 7px; }
          @media (max-width: 991.98px) {
            header .navbar .dropdown-menu:before {
              display: none; } }
        header .navbar .dropdown-menu .dropdown-item:hover {
       
          background: #614083;
          color: #fff; }
        header .navbar .dropdown-menu .dropdown-item.active {
          background: #007bff;
          color: #fff; }
        header .navbar .dropdown-menu a {
          padding-top: 7px;
          padding-bottom: 7px; }
      header .navbar .cta-btn a {
        background: #614083;
        
        color: #fff !important;
        text-transform: uppercase;
        font-size: .8rem;
        padding: 15px 20px !important;
        line-height: 1;
        font-weight: bold;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        header .navbar .cta-btn a:hover {
          background: #fff;
          color: #614083 !important;
          -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2); }
  