.descripcion{

    text-align: justify;
    width: 60%;

}


/*    */
.banner img{
    
    width: 100%;
    height: 30%;
    
}

.centrar_texto{
    text-align: center;
}

.tamano_img{
    width: 20%;
    max-width: 800px;
}

.tamanoimg{
    height: 500px !important;
}